<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
    </style>
</head>

<body>
    <!-- Navbar -->
    <%- include('./partials/_navbar') %>

    <!-- Page content -->
    <section class="section">
        <div class="container">
            <h1 class="title">500 - Internal Server Error</h1>
            <p>An unexpected error occurred on the server.</p>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/_footer') %>
</body>

</html>
