<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .footer {
            position: fixed;
        }
        .container {
            margin-top: 90px; 
            margin-bottom: 90px; 
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <%- include('./partials/_navbar') %>
        <div id="errorMessage" class="has-text-centered" style="color: red; display: none;"></div>
        <!-- Error message container -->
        <div id="successBanner" class="notification is-success" style="display: none;">
            Login successful. Redirecting to home page...
        </div>

        <section class="section">
            <div class="container">
                <h1 class="title">Login Here</h1>
                <form id="loginForm">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter your username" id="username" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Enter your password" id="password"
                                required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Log in</button>
                        </div>
                    </div>
                </form>
                <div class="has-text-centered">
                    <a href="/forgot-password">Forgotten password?</a>
                </div>
                <div class="has-text-centered">
                    <a href="/signup">Create new account</a>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const SIGNIN_ENDPOINT = 'http://localhost:3001/api/users/signin';

            // Function to handle user sign in
            function signinPost(username, password) {
                console.log('Performing post request to ' + SIGNIN_ENDPOINT);
                // Make POST request to the API endpoint using Axios
                return axios.post(SIGNIN_ENDPOINT, {
                    username: username,
                    password: password
                })
                    .then(response => {
                        console.log('Login response:', response);

                        // Check if response is successful
                        if (response.status === 200) {
                            // Check if user_id is present in the response
                            if (response.data.userId) {
                                // Set user_id in session storage
                                sessionStorage.setItem('userId', response.data.userId);
                                // Set isAuthenticated in session storage
                                sessionStorage.setItem('isAuthenticated', true);
                                const token = response.data.token;
                                sessionStorage.setItem('sessionToken', token);

                            }
                            // Check if authentication was successful
                            if (response.data.status === 'success') {
                                window.location.href = '/'; // Redirect to home page
                            } else {
                                console.error('Login failed:', response.data.message);
                            }

                        } else {
                            // Handle non-200 response status
                            console.error('Login failed:', response.statusText);
                            throw new Error('Login failed');
                        }
                    })
                    .catch(error => {
                        console.error('Login error:', error);
                        // Handle login error
                        document.getElementById('errorMessage').textContent = 'Login error: ' + error.message;
                        document.getElementById('errorMessage').style.display = 'block';
                    });
            }


            document.getElementById('loginForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent form submission

                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                console.log('Posting username: ' + username + ' and password: ' + password + ' to SIGNIN_POST_ENDPOINT');
                signinPost(username, password)
            });

        </script>


        <!-- Footer -->
        <%- include('./partials/_footer') %>
</body>

</html>